body {
    background: teal;
}
header {
    background:yellow;
}
#debug {
    background: white;
    padding: 20px;
}
.letter{
    background:orange;
    color:lime;
    font-size: 4em;
    float:left;
}